@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button,input {
    outline: none;
    border: none;
    background: none;
    font-family: inherit;
}

.btn {
    @apply py-[0.35rem] 2xl:py-2 px-4 mx-1 rounded-md bg-slate-500 text-white font-bold hover:bg-slate-600 text-sm;
}

.input {
    @apply bg-white border-white border-[2px] rounded-md p-1 placeholder:text-white placeholder:font-bold placeholder:text-lg text-black font-bold w-full col-span-2 px-4;
}

.lbl {
    @apply text-white font-bold text-lg grid col-span-1;
}

.cell {
    @apply grid grid-cols-2 gap-4 items-center;
}

.input-disabled {
    @apply bg-red-200 cursor-not-allowed;
}

.custom-scrollbar::-webkit-scrollbar {
    border-radius: 1rem;
    width: 0.5rem;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #1e1e24;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background: #519be9;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3c37dc;
}
